.hiper_1 {
    color: black;
    text-decoration: none;
    text-decoration-line: none;
}

.hiper_2 {
    color: yellow;
    text-decoration: underline;
}

.hiper_3 {
    color: rgb(178, 10, 219);
    text-decoration: underline;
}

.red {
    color: red;
}