#titulo-1 {
    color: blue;
}

#titulo-2 {
    color: red;
}

header {
    width: 120px;
    height: 120px;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}